openapi: 3.0.3
info:
  title: whyb Social Media API
  description: |-
    API for managing users and posts in the whyb social media platform.
  version: 1.0.0
servers:
  - url: http://api.whyb.com
tags:
  - name: User
    description: Operations related to users
  - name: Post
    description: Operations related to posts
paths:
  /api/users/{user_name}:
    get:
      tags:
        - User
      summary: Get users by username
      parameters:
        - name: user_name
          in: path
          description: Username of the user to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: integer
                    username:
                      type: string
                    name:
                      type: string
                    password:
                      type: string
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: An internal server error occurred.
  /api/posts/{caption}:
    get:
      tags:
        - Post
      summary: Get posts by caption
      parameters:
        - name: caption
          in: path
          description: Caption of the post to retrieve
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    post_id:
                      type: integer
                    caption:
                      type: string
                    likes:
                      type: integer
                    content:
                      type: string
                    user_id:
                      type: integer
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: An internal server error occurred.
