<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <title>whyb.</title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body class="info">
    <main class="main-content">
        <div class="logo">
            <a href="/feed" style="color: var(--red-color);margin-left: 0px;">
                whyb.
            </a>
        </div>
        <div class="expl">
            Welcome to whyb.: <br>Your one-stop-shop for music mayhem! 🎵 Found yourself jamming to a tune and bursting
            with opinions? Whether it's Spotify, iTunes, or any other platform, whyb. has got your back!<br><br>

            Imagine this: You're grooving to a killer track, and suddenly, you're hit with the urge to spill your
            thoughts. But where to? Fear not! whyb. is your musical soapbox in the digital cosmos!<br><br>

            It's your chance to unleash your inner critic or dive into the chaos of comments sections. 🎤 But here's the
            kicker: Your opinions aren't just whispers—they're heard across the globe! From Paris to Peru, anyone can
            tune in, read your reviews, and join the fun!<br>

            So, when you're ready to dissect a beat or praise a riff, remember one word: whyb. 🎸 <br><br>Because in
            life's
            symphony, your voice deserves to be the star solo! 🌟
            <button class="post-actions-button" id="button-red" style="width: 100%;margin-top: 20px;">
                <span>Go back</span></button>

        </div>

    </main>

    <script src="/static/js/script.js"></script>


</body>

</html>